<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS included here-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <title>Create Ninja's</title>
</head>
<body class="bg-light">
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg bg-dark">
      <div class="container-fluid ">
        <a class="navbar-brand text-warning" href="#"><strong>Dojo's and Ninja's</strong></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active text-light" aria-current="page" href="/"><u>Home</u></a>
            </li>
            <li class="nav-item ">
              <a class="nav-link text-light" href="/create_ninja"> <u>New Ninja</u></a>
            </li>
          </ul>
        </div>
      </div>
  </nav>

    <h1 class="h1 text-center mt-2">Add Ninja</h1>
    <form action="/create_user" method="post" class="container col-6 mt-4">
        <!-- Dojo list -->
        <label for="dojo_list" class="form-label">Dojo</label>
        <select class="form-select mb-3" name="dojo_list">
            <option selected>-- Location --</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
        <!-- First name -->
        <div class="mb-3">
            <label for="first_name" class="form-label">First Name</label>
            <input type="text" class="form-control" name="first_name">
        </div>
        <!-- Last name -->
        <div class="mb-3">
            <label for="last_name" class="form-label">Last Name</label>
            <input type="text" class="form-control" name="last_name">
        </div>
        <!-- Age -->
        <div class="mb-3">
            <label for="age" class="form-label">Age</label>
            <input type="text" class="form-control" name="age">
        </div>

        <button type="submit" class="btn btn-primary">Create</button>
      </form>
</body>
</html>